    ASPNETCORE_ENVIRONMENT=Environment
    TAG=environment
    ENV_NAME=environment
    PORT=port
    DOTNET_ENV=environment
    JWT_ISSUER=Backend
    JWT_AUDIENCE=Backend_Clients
    JWT_KEY=uma-chave-segura-com-32-caracteres-ou-mais
    FIELD_ENCRYPTION_KEY=base64-32-bytes-gerado-com-openssl-rand-base64-32
    APP_DOMAIN=meudominio.com
    USER_ID=user_id
    GROUP_ID=group_id
    DB_HOST_MIGRATIONS=db_host_migrations
    DB_NAME=db_name
    DB_PASSWORD=db_password
    DB_PORT_RUNTIME=db_port_runtime
    DB_PORT=db_port
    DB_USER=db_user
    DATABASE_URL=Host=[DB_HOST_MIGRATIONS];Port=[DB_PORT];Database=[DB_NAME];Username=[DB_USER];Password=[DB_PASSWORD];Address Family=InterNetwork;Pooling=true;