# Segredos de Configuração (.NET)

# Segredos de Ambiente (Vite/React)
.env
.env.local
.env.*.local
.env.development
.env.production

# Pastas de Build e Cache
bin/
obj/
node_modules/
dist/
.vs/
.vscode/