# ==========================================
# GLOBAL
# ==========================================
.env
**/.env.*
!**/appsettings.json
!**/appsettings.Development.json
!**/appsettings.Production.json
!**/.env.example
bin/
obj/
publish/
**/*.key
**/*.pem
**/*.cert
**/*.pfx
**/*.pub
**/*.ppk
**/*.crt
**/*.db
Doc\Keys\
secrets.json

# --- .NET / C# (RAPSODIA)---
[Bb]in/[Oo]bj/
Generated\ Files/
TestResults/
*.user
.vs/
.vscode/

# --- WEB / NODE.JS (FRONTEND / REACT) ---
node_modules/
.next/
out/
build/
dist/
*.log
# --- C++ / NATIVE---
*.exe
*.dll
*.so
*.dylib
*.lib
*.pdb
ipch/
.visualstudio/
*.tlog
*.lastbuildstate
*.ora
*.dmp
*.sqlite*
network/admin/tnsnames.ora
.docker/
logs/
*.pid
temp/
proxy_temp/
client_body_temp/.env


