## .NET / Visual Studio

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.cache

# Logs
*.log
[Ll]og/
[Ll]ogs/

# Environment (se contiver segredos)
appsettings.Development.json

# NuGet
*.nupkg
*.snupkg
artifacts/

# Test results
[Tt]est[Rr]esult*/